<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>With great power, comes great responsibility.</h2>
        <img src="/images/superhero.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center"></div>
      </div>

      <hr>

      <footer>
        <p>&copy; Developed by Victor Neville</p>
      </footer>
    </div> <!-- /container -->
